.cards > ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(257px, 1fr));
  gap: 24px;
}

.cards > ul > li {
  border: 1px solid #dadada;
  background-color: var(--background-color);
}

.cards .cards-card-body {
  margin: 16px;
}

/* Cards background color-section/Productway page*/
.cards {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 48px auto;
  -animation: rgba(0, 42, 88, .08);
  background-color: #0a0e14;
  color: #fff;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .005em;
  line-height: 1.5rem;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.cards .cards-card-image {
  line-height: 0;
}

.cards > ul > li img {
  width: 100%;
  aspect-ratio: 4 / 3;
  object-fit: cover;
}
