.custom-columns {
  margin: 48px auto;
}
/* Columns background color-section/Productway page*/
.custom-columns  {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 48px auto;
  color: #fff;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .005em;
  line-height: 1.5rem;
  background: linear-gradient(147deg, #839db4, #d2d2d2 100%); 
  box-shadow: 0 4px 10px var(--shadow-color);
}

/* //**background: linear-gradient(147deg,#839db4,#d2d2d2 100%);**\\*/
 

.custom-columns > div {
  display: grid;
  gap: 16px;
}

.custom-columns > div.columns-2 {
  grid-template-columns: repeat(2, 1fr);
}

.custom-columns > div.columns-3 {
  grid-template-columns: repeat(3, 1fr);
}

.custom-columns > div.columns-4 {
  grid-template-columns: repeat(4, 1fr);
}

.custom-columns > div.columns-5 {
  grid-template-columns: repeat(5, 1fr);
}


.custom-columns .column {
  display: flex;
  flex-direction: column;
}

.custom-columns img {
  width: 100%;
  height: auto;
  display: block;
}

@media (max-width: 900px) {
  .custom-columns > div.columns-2,
  .custom-columns > div.columns-3,
  .custom-columns > div.columns-4,
  .custom-columns > div.columns-5 {
    grid-template-columns: 1fr;
  }
}