.columns > div {
  display: flex;
  flex-direction: column;
}

.columns img {
  width: 100%;
}
/* Columns background color-section LAPTOPS*/
.columns  {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 48px auto;
  color: #fff;
   -animation: rgba(0, 42, 88, .08);
  background-color: #0a0e14;
  box-sizing: inherit;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .005em;
  box-shadow: 0 4px 10px var(--shadow-color);
}

.columns > div > div {
  order: 1;
}

.columns > div > .columns-img-col {
  order: 0;
}

.columns > div > .columns-img-col img {
  display: block;
}

@media (width >= 900px) {
  .columns > div {
    align-items: center;
    flex-direction: unset;
    gap: 24px;
  }

  .columns > div > div {
    flex: 1;
    order: unset;
  }
}
